<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Node</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <h1>Página Inicial</h1>
    
    
    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a class="btn btn-success botaoPerguntas" href="/question">PERGUNTE <b>?</b></a>
        <hr>
        <% pergunta.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= pergunta.titulo %></p>
                    <a class="btn btn-success botaoPerguntas" href="/question/<%= pergunta.id %>">RESPONDER <b>?</b></a>
                </div>
            </div>
        <%})%>
    </div>
           
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
<%- include ('partials/footer.ejs') %>
</html>